/.config/hypr/shaders/*
/.config/*

!/.config/autostart/**/
!/.config/btop/**/
!/.config/policies/**/
!/.config/fastfetch/**/
!/.config/fish/config.fish
!/.config/fish/themes/**/
!/.config/ghostty/**/
!/.config/gtk-3.0/**/
!/.config/gtk-4.0/**/
!/.config/hypr/**/
!/.config/mako/**/
!/.config/matugen/**/
!/.config/nvim/**/
!/.config/rofi/**/
!/.config/walker/**/
!/.config/waybar/**/
!/.config/xdg-terminals.list
!/.config/yt-x/extensions/**/
!/.config/yt-x/yt-x.conf
!/.config/zed/**/
