@import "colors.css";

* {
  color: @secondary;
  border: none;
  min-height: 0;
  font-family: "Stack Sans Text";
  font-weight: normal;
  font-size: 12px;
}

window#waybar {
  background: transparent;
  color: @secondary;
}

window#waybar > box {
    margin-top: 6px;
    padding-left: 6px;
    padding-right: 6px;
}

#window,
#workspaces,
#custom-music,
#tray,
#custom-recording-output,
#custom-privacy-dots,
#info,
#privacy,
#clock {
    margin: 0;
    background-color: @background;
    padding: 8px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 10px;
    border: 2px solid @outline_variant;
}

#custom-privacy-dots {
  padding: 0 10px;
  font-size: 12px;
  letter-spacing: 3px;
}

#workspaces button {
  padding: 0 6px;
  margin: 0 2px;
  min-width: 12px;
}

#pulseaudio,
#custom-recording-output {
  min-width: 16px;
}

#pulseaudio {
    min-width: 24px;
    margin-left: -6px;
    padding-right: 5px;
}

#cpu {
    min-width: 24px;
    margin-right: -2px;
}

#language {
    padding-left: 12px;
    margin-right: 2px;
}

#custom-recording-output {
    padding-left: 10px;
    padding-right: 12px;
}

#tray {
    padding-right: 15px;
}

.hidden {
  opacity: 0;
}

#custom-recording-output {
  min-width: 12px;
}

#custom-recording-output.active {
  color: #a55555;
}

tooltip {
  background-color: @background;
  border-radius: 8px;
  border: 1px solid @outline;
}

tooltip label {
  color: @secondary;
}

#tray menu,
#tray menu *,
#tray .menu,
#tray .menu * {
    background-color: rgba(26, 26, 26, 0);
    color: @secondary;
}

#tray menu,
#tray .menu {
  background-color: @background;
  border: 1px solid @secondary;
  border-radius: 8px;
}

#tray menu menuitem,
#tray .menu menuitem {
  padding: 6px 12px;
}

#tray menu menuitem:hover {
  background-color: @surface_bright;
}

/* make empty workspaces dim */
#workspaces button.empty {
    opacity: 0.6;
    transition: opacity 0.5s ease;
}
