@import "colors.css";

* {
  color: @secondary;
  border: none;
  min-height: 0;
  font-family: "Stack Sans Text";
  font-weight: normal;
  font-size: 12px;
}

window#waybar {
  background: transparent;
  color: @secondary;
}

window#waybar > box {
    margin-top: 4px;
    padding-left: 6px;
    padding-right: 6px;
}

.modules-center * {
    padding-left: 5px;
    padding-right: 5px;
}

#custom-omarchy,
#window,
#workspaces,
#custom-music,
.modules-center,
#tray,
#info,
#clock {
    margin: 0;
    background-color: @background;
    padding: 8px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 10px;
    border: 2px solid @outline_variant;
}

#workspaces button {
  padding: 0 6px;
  margin: 0 2px;
  min-width: 12px;
}

#battery,
#pulseaudio,
#custom-screenrecording-indicator,
#custom-update {
  min-width: 16px;
}

#custom-omarchy {
    padding-right: 14px;
}

#pulseaudio {
    min-width: 24px;
    margin-left: -6px;
    padding-right: 5px;
}

#cpu {
    min-width: 24px;
    margin-right: -2px;
}

#language {
    padding-left: 12px;
    margin-right: 2px;
}

#tray {
    padding-right: 15px;
}

.hidden {
  opacity: 0;
}

#custom-screenrecording-indicator {
  min-width: 12px;
}

#custom-screenrecording-indicator.active {
  color: #a55555;
}

tooltip {
  background-color: @background;
  border-radius: 8px;
  border: 1px solid @outline;
}

tooltip label {
  color: @secondary;
}

#tray menu,
#tray menu *,
#tray .menu,
#tray .menu * {
    background-color: rgba(26, 26, 26, 0);
    color: @secondary;
}

#tray menu menuitem {
  border-left: 1px solid @secondary;
  border-right: 1px solid @secondary;
}

#tray menu,
#tray .menu {
  background-color: @background;
  border: 1px solid @secondary;
  border-radius: 8px;
}

#tray menu menuitem,
#tray .menu menuitem {
  padding: 6px 12px;
}

#tray menu menuitem:hover {
  background-color: @surface_bright;
}
