@import "colors.css";

* {
  color: #B6B4B6;
  border: none;
  min-height: 0;
  font-family: "Glass TTY VT220";
  font-weight: bold;
  font-size: 15;
}

window#waybar {
  background: #000000;
  color: #B6B4B6;
}

window#waybar > box {
    margin-top: 4px;
    padding-left: 8px;
    padding-right: 8px;
}

#custom-files {
    padding-right: 10px;
}

#custom-spotify {
    padding-left: 10px;
}

#custom-helium,
#custom-keepassxc,
#custom-zed,
#custom-ghostty,
#custom-obsidian {
    padding-left: 10px;
    padding-right: 10px;
}

#custom-privacy-dots {
  padding: 0 10px;
  font-size: 12px;
  letter-spacing: 4px;
  margin-top: -5px;
}

#workspaces button {
  padding: 0 6px;
  margin: 0 2px;
  min-width: 12px;
}

#custom-update {
    padding-left: 8px;
    padding-right: 9px;
}

#custom-omarchy {
    padding-right: 14px;
}

#pulseaudio {
    min-width: 48px;
}

#cpu {
    min-width: 32px;
}

#language {
    min-width: 41px;
}

#clock {
    margin-left: -7px;
}

#custom-screenrecording-indicator {
    padding-left: 10px;
    padding-right: 10px;
    color: #a55555;
    margin-top: 0;
}

#tray {
    margin-top: -5px;
    padding-left: 8px;
}

.hidden {
  opacity: 0;
}

tooltip {
  background-color: @background;
  border-radius: 8px;
  border: 1px solid @outline;
}

tooltip label {
  color: @secondary;
}

#tray menu,
#tray menu *,
#tray .menu,
#tray .menu * {
    background-color: rgba(26, 26, 26, 0);
    color: @secondary;
}

#tray menu menuitem {
  border-left: 1px solid @secondary;
  border-right: 1px solid @secondary;
}

#tray menu,
#tray .menu {
  background-color: @background;
  border: 1px solid @secondary;
  border-radius: 8px;
}

#tray menu menuitem,
#tray .menu menuitem {
  padding: 6px 12px;
}

#tray menu menuitem:hover {
  background-color: @surface_bright;
}

#custom-voxtype {
  min-width: 12px;
  margin: 0 0 0 7.5px;
}

#custom-voxtype.recording {
  color: #a55555;
}
