@import "../omarchy/current/theme/waybar.css";

* {
  background-color: @background;
  color: @foreground;

  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: "Stack Sans Text", "Ubuntu";
  font-weight: normal;
  font-size: 12px;
}

.modules-left {
  margin-left: 8px;
}

.modules-right {
  margin-right: 16px;
}

#workspaces button {
  all: initial;
  padding: 0 6px;
  margin: 0 1.5px;
  min-width: 9px;
}

#workspaces button.empty {
  opacity: 0.5;
}

#cpu,
#battery,
#pulseaudio,
#custom-omarchy,
#custom-screenrecording-indicator,
#custom-update {
  min-width: 18px;
}

#custom-files,
#custom-helium,
#custom-keepassxc,
#custom-vscode,
#custom-ghostty,
#custom-obsidian {
  margin-left: 4px;
  margin-right: 4px;
}

#custom-update {
  font-size: 10px;
}

#custom-omarchy {
  margin-right: 3px;
}

.hidden {
  opacity: 0;
}

#tray {
  margin-right: 2px;
}

#custom-screenrecording-indicator {
  min-width: 12px;
  font-size: 10px;
}

#custom-screenrecording-indicator.active {
  color: #a55555;
}